/* =Reset styles
-------------------------------------------------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: 300; font-style: normal; font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
hr { border: 0; border-top: 1px solid #E4E7E9; border-bottom: 1px solid #fff; margin: 2em 0; height: 0; clear: both; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img { height: auto; }
img, object, embed { max-width: 100%; }

.clear { clear: both; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* =Misc
-------------------------------------------------------------- */
.italic { font-style: italic; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.left { float: left; }
.right { float: right; }
.hide { display: none; }
.upper { text-transform: uppercase; letter-spacing: 1px; }
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }
.center { margin-left: auto; margin-right: auto; }
.double-size { font-size: 200%; line-height: 1.6; }
.box { background: #FFF; border-radius: 3px; border: 1px solid #E4E7E9; margin-bottom: 2em; border-bottom: 1px solid #D2D5D6; }
.padded { padding: 1em 1.5em; }
.greyed { background: #F8FAFC; }
.subtitle { font-size: 125%; }

/* =Columns
-------------------------------------------------------------- */
.column { position: relative; float: left; margin-right: 3.125%; }
.half { width: 48.43%; }
.third { width: 31.25%; }
.fourth { width: 22.65%; }
.fifth { width: 17.5%; }
.sixth { width: 14.06%; }
.two-third { width: 65.625%; }
.three-fourth { width: 74.2%; }
.four-fifth { width: 80.075%; }
.last, .column:last-child { margin-right: 0px; clear: right; }
.column.center { margin: 0 auto; float: none; clear: both; }
.justify { text-align: justify; }

/* =Headlines and text
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-family: "Raleway", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; margin-bottom: 0.5em; color: #222; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a { font-weight: inherit; font-style: inherit; }

h1 { font-size: 2.25em; letter-spacing: -1px; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; font-weight: normal; }
h6 { font-size: 0.875em; font-weight: normal; }

p { margin-bottom: 1em; }

a { text-decoration: none; color: #227DDA; font-weight: inherit; font-style: inherit; font-size: inherit; -webkit-transition: all 0.20s ease-in-out; -moz-transition: all 0.20s ease-in-out; -ms-transition: all 0.20s ease-in-out; -o-transition: all 0.20s ease-in-out; transition: all 0.20s ease-in-out; }
a:hover { color: #1E6FC1; }
p a { border-bottom: 1px solid #227DDA; }
small { font-size: 0.750em; }
strong { font-weight: 600; }
em { font-style: italic; }
pre, code { font-family: Monaco, "Courier New", monospace; font-size: 85%; }
.bold { font-weight: 600; }
.light { font-weight: 300; }

/* =Layout
-------------------------------------------------------------- */
body { margin: 0; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; font-size: 1em; font-weight: 300; line-height: 1.8; text-rendering: optimizeLegibility; color: #626262; -webkit-font-smoothing: antialiased; }
section { font-size: 1.375em; }
aside { font-size: 0.875em; }
.wrapper { width: 90%; max-width: 870px; margin: 0px auto; position: relative; padding-bottom: 2em; }
.wrapper-wide { width: 90%; max-width: 1140px; margin: 0px auto; position: relative; }
.boxed-layout { padding: 0; }
.boxed-layout .main { padding: 1em 1.5em; background: #fff; }

header { padding-top: 4em; }
header h1 { text-transform: uppercase; font-size: 3.5em; }
header h1 a { color: #222; border-bottom: 1px solid #fff; }
header h1 a:hover { color: #222; border-bottom: 1px solid #ccc; }

footer { text-align: center; border-top: 1px solid #F2F2F2; padding-top: 3em; margin-top: 3em; color: #222; }
footer p { text-transform: uppercase; font-weight: 600; font-size: 0.875em; }
footer p span { font-weight: 300; }

.text-title { font-weight: 600; }
.text-byline { text-transform: uppercase; font-size: 12px; font-weight: 600; color: #626262; vertical-align: middle; padding-left: 6px; }

.cta { background: #FAFAFA;
padding: 1.2em 2em; }
.cta p:last-child { margin-bottom: 0; }

.collab { text-transform: uppercase; font-weight: 600; font-size: 16px; }

article p { font-size: 1.125em; }
